build/
dist/
DerivedData/
*.xcuserstate
xcuserdata/
.DS_Store
RightMenuMini/Resources/RightMenuMini-image2-*-original.png
RightMenuMini/Resources/RightMenuMini-image2-original.png
!RightMenuMini/Resources/RightMenuMini-image2-final-original.png
